<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Anime Web Player</title>
	<style type="text/css">
		html,body{
			border: 0px;
			margin: 0px;
			background-color: #2d2d2d;
		}
		#left{
			float:left;
			width: 100%;
		}
		#right{
		}
		.info{
			width: 152px;
			float: left;
			padding: 25px;
		}
		.bigtitle{

		}
		.bg{
			width: 152px;
			height: 152px;
		}
		.title{
			font-size: 14px;
			width: 143px;
			text-align: center;
			position: relative;
			top: -20px;
			color: white;
		}
		.overflow{
			white-space: nowrap;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}
		#onweekly{
			float: left;
		}
		#footer{
			text-align: center;
			float: left;
			width: 100%;
			color: white;
		}
		.context{
			padding: 35px;
		}
		.noto{
			font-family: Noto Sans CJK TC Light;
			font-weight: 300;
		}
		.os{
			font-family: Open Sans;
			font-weight: 300;
		}
		.w{
			color: white;
		}
		.b{
			font-size: 36px;
		}
		input{
			font-size: 18px;
			width: 85%;
			box-shadow: 2px 1px 4px #646464;
			outline: none;
			height: 12px;
			border: 5px solid white;
		    padding: 15px;
		    margin: 0 0 10px 0;
		}
		input[placeholder], [placeholder], *[placeholder] {
		   color:#999999 !important;
		}
		#onweekly h2{
			color:#718FFF;
		}
		#onold h2{
			color: #00B9F5;
		}
		a:link {
	    	color: white;
	    	text-decoration: none;
		}

		/* visited link */
		a:visited {
		    color: white;
		    text-decoration: none;
		}

		/* mouse over link */
		a:hover {
		    color: white;
		    text-decoration: underline;
		}

		/* selected link */
		a:active {
		    color: white;
		    text-decoration: none;
		}

		</style>
</head>
<body>
<div id="left">
	<div class="context">
		<div id="header">
			<h1 class="os w b">Anime Web Player</h1>
			<input  type="text" class="noto" onkeypress="" placeholder="搜尋動畫...">
		</div>
		<div id="onweekly">
			<h2 class="bigtitle noto">本季動畫 (2015-冬)</h2>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
		</div>
		<div id="onold">
			<h2 class="bigtitle noto">以前的動畫</h2>
			<div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div><div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div><div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div><div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div><div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div><div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div><div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div><div class="info">
				<div class="bg" style="
			background:url(../qp2Sn6SVlqCVp6Q.jpg) no-repeat;
			background-size:152px;"></div>
				<h3 class="title overflow noto">艦隊收藏 KanCollection</h3>
			</div>
		</div>
		<div id="footer"><h3 class="noto"><a href="#">更多以前的動畫 (10)</a></h3></div>
	</div>
</div>
<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>